<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/css.css">
    <link rel="icon" href="../../img/icono.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>CV</title>
</head>

<body class="exp">
    <header>
        <div class="div1">
            <p>CV of Marcos Felix Hernandez</p>
            <p style="margin-top: 0%;">Available language:</p>
            <a href="../cv.html">
                <img src="../../img/Bandera_de_España.svg.png" alt="Español">
            </a>
            <a href="#">
                <img src="../../img/Flag_of_the_United_Kingdom_(1-2).svg" alt="Inglés">
            </a>
        </div>
        <div class="div2">
            <div>
                <a href="./index_en.html" style="margin-right: 70%;" id="inicioheader">
                    <img src="../../img/inicio.png" alt="Inicio">
                </a>
                <a href="./experience.html">
                    <img src="../../img/camino.png" alt="experiencia laboral">
                </a>
                <a href="./education.html">
                    <img src="../../img/colegio.png" alt="education">
                </a>
                <a href="./cv_en.html">
                    <img src="../../img/dni.png" alt="experiencia laboral">
                </a>
            </div>
        </div>
    </header>
    <div class="contenedor">
        <a href="../../img/CV Marcos Felix.pdf" download="CuriculumMarcosFelix">
            <button class="boton">Download PDF</button>
         </a>
    </div>
    
    <footer class="footer">
        <div class="divfooter">
            <div>
                <a href="./index_en.html">
                    <img src="../../img/inicio.png" alt="Home">
                </a>
                <a href="./experience.html">
                    <img src="../../img/camino.png" alt="Experience">
                </a>
                <a href="./education.html">
                    <img src="../../img/colegio.png" alt="Education">
                </a>
                <a href="./cv_en.html">
                    <img src="../../img/dni.png" alt="CV PDF">
                </a>
            </div>  
        </div>
    </footer>
</body>