<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link rel="icon" href="../img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/css.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<boody>
    <header>
        <div class="div1">
            <p> CV de Marcos Felix Hernandez</p>
           <p style="margin-top: 0%;">Idiomas disponibles:</p>
            <a href="./estudios.html">
                <img src="../img/Bandera_de_España.svg.png" alt="Descripción de la imagen">
            </a>
            <a href="./en/education.html">
                <img src="../img/Flag_of_the_United_Kingdom_(1-2).svg" alt="Descripción de la imagen">
            </a>            
        </div>
        <div class="div2">
            <div>
                <a href="../index.html" style="margin-right: 70%;">
                    <img src="../img/inicio.png" alt="Descripción de la imagen">
                </a>
                <a href="./experiencia.html">
                    <img src="../img/camino.png" alt="Descripción de la imagen">
                </a>
                <a href="./estudios.html">
                    <img src="../img/colegio.png" alt="Descripción de la imagen">
                </a>
                <a href="./cv.html">
                    <img src="../img/dni.png" alt="Descripción de la imagen">
                </a>
            </div>  
        </div>
    </header>
    <br>
    <div><h1>Estudios</h1></div>
    <h3 style="text-align: center;background-color: blueviolet;">ESO</h3>
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col" >
            <img src="../img/CAN-VILUMARA-logo.jpg" class="imgedu" id="vilumara">
          </div>
          <div class="col">
            <p style="text-align: justify;margin-top: 5%">En el año 2022 obtuve el el titulo de la ESO, donde aprendí varios conceptos importantes como matematicas y etc. Unas de mis asignaturas favoritas era informatica.  </p>  
          </div>
        </div>
      </div>
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <p>Dirección de calle: Av. de Josep Tarradellas i Joan, 153</p>
                <p>Telf: 933 37 33 08</p>
                <p>Email: inscanvilumara@xtec.cat</p>
                <p>Ciudad: 08901-L'Hospitalet de Llobregat</p>
              </div>
              <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.5073453657947!2d2.101442711322631!3d41.36306077118328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4991fa2ceb175%3A0xc945450b62848842!2sInstitut%20Can%20Vilumara!5e0!3m2!1sca!2ses!4v1746698443410!5m2!1sca!2ses" width="450" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
    <br>
    <div>
        <h3 style="text-align: center;background-color: rgb(0, 255, 38);">Grado Medio</h3>
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col" >
              <img src="../img/j23.png" class="imgedu">
            </div>
            <div class="col">
              <p style="text-align: justify;margin-top: 5%;"> A dia de hoy, estoy cursando el ultimo año del grado medio de informatica en el Joan XXIII y el año que viene haré el grado superior de marketing y publicidad.</p>  
            </div>
          </div>
        </div>
          <div class="container text-center">
              <div class="row align-items-start">
                <div class="col">
                  <p>Dirección de calle: Av. Mare de Déu de Bellvitge 100-110.</p>
                  <p>Telf: 93 33 51 54</p>
                  <p>Email: info.joan23@fje.edu</p>
                  <p>Ciudad: 08907 L'Hospitalet de Llobregat. Barcelona</p>
                </div>
                <div class="col">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1239.616607822494!2d2.1072401296335848!3d41.349404530930364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1714558881047!5m2!1ses!2ses" width="450" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
    <br>
    <footer class="footer">
        <div class="divfooter">
            <div>
                <a href="../index.html">
                    <img src="../img/inicio.png" alt="Descripción de la imagen">
                </a>
                <a href="./experiencia.html">
                    <img src="../img/camino.png" alt="Descripción de la imagen">
                </a>
                <a href="./estudios.html">
                    <img src="../img/colegio.png" alt="Descripción de la imagen">
                </a>
                <a href="./cv.html">
                    <img src="../img/dni.png" alt="Descripción de la imagen">
                </a>
            </div>  
        </div>
    </footer>
</body>
</html>